@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0;
  height: 13vh;
  margin-left: 4%;
}

#btnRefresh {
  background: transparent;
  border: none;
  padding: 0;
  margin-right: 3%;
}

h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  align-self: center;
}

.applyBtn {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 65%;
  margin-left: 60%;
  display: none;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #dcdbdb;
  border-bottom: 1px solid #dcdbdb;
}

#task {
  border: none;
  height: 10vh;
}

#task::placeholder {
  opacity: 0.8;
  font-style: italic;
}

#task:focus {
  outline: none;
}

#refresh,
#return {
  width: 6vh;
  height: 6vh;
  margin-right: 3%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid #dcdbdb;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.oneTask {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 11vh;
  border-bottom: 1px solid #dcdbdb;
}

.title {
  border: none;
  background: transparent;
  outline: none;
}

.option,
.remove-btn {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 24%;
  font-size: 12px;
  margin-left: 55%;
  cursor: pointer;
}

#clear {
  border: none;
  background-color: #fff;
  height: 10vh;
  width: 100%;
}

#clear:hover {
  background: #e9e9e9;
}

.title:not(focus) ~ .option {
  visibility: visible;
  opacity: 1;
  position: relative;
  left: 80%;
}

.remove-btn {
  visibility: hidden;
  transition: all ease-in-out 0.4s 0.2s;
}

.title:focus ~ .remove-btn {
  visibility: visible;
}

.title:focus ~ .option {
  visibility: hidden;
}

.check:checked + .title {
  text-decoration: line-through;
}